<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/auth/login">Log in</a>
    <a href="/auth/register">Register</a>
    {{#if country}}
        <h1>{{country}}</h1>
    {{/if}}
    {{#if tag}}
        <h1>{{tag}}</h1>
    {{/if}}
    <div class="experiences-container">
        {{#each experiences}}
                <div class="experience">
                    <h2>{{location}}</h2>
                    <p>{{description}}</p>
                    <p>Rating: {{rating}}</p>
                </div>
        {{/each}}
    </div>
</body>
</html>