<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Travel experiences</title>
</head>
<body>
    <nav class="nav-bar">
        <a href="/">Home</a>
    
        <form action="/auth/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
        
        <a href="/my-account">My account</a>
    </nav>

    <h1><span class="username">@</span>{{user.username}}</h1>

    <a href="/my-account/add-experience" class="add-experience">
        <button class="button">Add experience</button>
    </a>
    {{#if isAdmin}}
        <a href="/my-account/remove-experiences" class="add-experience">
            <button class="button">Remove experiences</button>
        </a>
    {{/if}}

    <div class="experiences-container">
        {{#if myExperiences}}
            {{#each myExperiences}}
                <div class="experience">
                    <div class="experience__image img-effect">
                        <img src={{image}} alt="">
                    </div>
                    <div class="experience__data">
                        <h2>{{location}}</h2>
                        <p>{{description}}</p>
                        <p>Rating: {{rating}}</p>
                        <ul class="experience__tags-list">
                            {{#each tags}}
                                <li>
                                    <a href="/tags/{{this}}">{{this}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p class="no-experience">You haven't added any experience yet</p>
        {{/if}}
    </div>
</body>
</html>