<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Travel experiences</title>
</head>
<body>
    <nav class="nav-bar">
        <a href="/">Home</a>
    
        <form action="/auth/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
        
        <a href="/my-account">My account</a>
    </nav>


    <div class="experiences-container">
            {{#each experiences}}
                <div class="experience">
                    <div class="experience__image img-effect">
                        <img src={{image}} alt="">
                    </div>
                    <div class="experience__data">
                        <h2>{{location}}</h2>
                        <p>{{description}}</p>
                        <p>Rating: {{rating}}</p>
                        <ul class="experience__tags-list">
                            {{#each tags}}
                                <li>
                                    <a href="/tags/{{this}}">{{this}}</a>
                                </li>
                            {{/each}}
                        </ul>
                        <form method="POST" action="/my-account/remove-experiences/{{id}}">
                            <input type="submit" class="button" value="Remove experience">
                        </form>
                    </div>
                </div>
            {{/each}}
    </div>
</body>
</html>